<!DOCTYPE html>
<html>
<head>
  <title>Welcome to the ProductDescriptor</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <!-- get vue.js -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/1.0.28/vue.js"></script>
  <!-- get select extension -->
  <script src="https://npmcdn.com/vue-select@latest"></script>
  <!-- get the product class -->
  <!--
  <script src="assets/product.js"></script>
  -->
  <!-- load data -->
  <script src="config/de/attributes.js"></script>
  <script src="config/de/categories.js"></script>
  <!-- get css styles -->
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
  <link rel="stylesheet" type="text/css" href="assets/style.css" />
  <link rel="stylesheet" type="text/css" href="assets/products.css" />

</head>
<body>
  <div id="app">
    <p>
      <img src="https://www.crazy-factory.com/templates/cf2010/img/crazy-factory-logo-big.png" alt="CF logo">
    </p>
    <nav v-bind:class="breadcrumb" v-on:click.prevent>
      <a href="#" class="load" v-on:click="makeActive('load')">Load Products</a>
      <a href="#" class="name" v-on:click="makeActive('names')">Product Names</a>
      <a href="#" class="description" v-on:click="makeActive('description')">Product Descriptions</a>
    </nav>
      <div class="container">
        <h3>{{breadcrumb}}</h3>
        <div class="load_products" v-on:click.stop v-show="show_load">
          <!-- Add Products -->
          <section class="product-management">
            <header class="header">
              <input class="new-product"
                     autofocus autocomplete="off"
                     placeholder="Enter product ID"
                     v-model="newProduct"
                     @keyup.enter="addProduct">
            </header>
            <section class="main" v-show="products.length" v-cloak>
              <input class="toggle-all" type="checkbox">
              <ul class="product-list">
                <li v-for="product in products"
                    class="product"
                    :key="product.id"
                    :class="{ completed: product.completed, editing: product == editedProduct }">
                  <div class="view">
                    <input class="toggle" type="checkbox" v-model="product.completed">
                    <label @dblclick="editProduct(product)">{{ product.title }}</label>
                    <button class="destroy" @click="removeProduct(product)"></button>
                  </div>
                  <input class="edit" type="text"
                         v-model="product.title"
                         v-product-focus="product == editedProduct"
                         @blur="doneEdit(product)"
                         @keyup.enter="doneEdit(product)"
                         @keyup.esc="cancelEdit(product)">
                </li>
              </ul>
            </section>
          </section>
          <!-- Add Products end -->
        </div>
        <div class="products_name row" v-on:click.stop v-show="show_names">
          <div class="col-xs-12 col-sm-6 col-md-4">
            <v-select :value.sync="selected_category" placeholder="Select a Category" :options="category_options"></v-select>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-4">
            <v-select :value.sync="selected_attribute_1" placeholder="Select an attribute" :options="attribute_options_1"></v-select>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-4" v-show="selected_attribute_1">
            <v-select :value.sync="selected_attribute_2" placeholder="Select an other attribute" :options="attribute_options_2"></v-select>
          </div>
          <div class="row">
            <div v-if="selected_category || selected_attribute_1 || selected_attribute_2" class="col-xs-12 col-sm-12 col-md-12">
              <h2>Preview</h2>
              <blockquote>
                <span v-if="selected_category ">{{selected_category.label}}</span>
                <span v-if="selected_attribute_1"> {{conjunction_1}} {{selected_attribute_1.label}}</span>
                <span v-if="selected_attribute_2 && selected_attribute_1"> {{conjunction_2}} {{selected_attribute_2.label}}</span>
              </blockquote>
            </div>
          </div>
        </div>
        <div class="products_description" v-on:click.stop v-show="show_descriptions">
          Form for configuring Products Descriptions
        </div>
      </div>
  </div>
</body>
</html>
<script src="assets/app.js"></script>
