*{
    margin:0;
    padding:0;
}

body{
    color: #4d4d4d;

}
h3{
    text-transform: uppercase;
}
/*-------------------------
	The menu
--------------------------*/
#app a, #app a:hover{
    color:#4d4d4d;
    background:transparent;
    font-size:12px;
}
.app-nav{
    width:100%;
    text-align:center;
}
nav{
    display:inline-block;
    margin:24px auto 18px;
    background-color:#5597b4;
    box-shadow:0 1px 1px #ccc;
    border-radius:2px;
}

nav a{
    display:inline-block;
    padding: 18px 30px 5px;
    color:#fff !important;
    font-weight:bold;
    font-size:16px;
    text-decoration:none !important;
    line-height:1;
    text-transform: uppercase;
    background-color:transparent;

    -webkit-transition:background-color 0.25s;
    -moz-transition:background-color 0.25s;
    transition:background-color 0.25s;
}

nav a:first-child{
    border-radius:2px 0 0 2px;
}

nav a:last-child{
    border-radius:0 2px 2px 0;
}

p{
    font-size:22px;
    font-weight:bold;
    color:#4d4d4d;
}

p b{
    color:#ffffff;
    display:inline-block;
    padding:5px 10px;
    background-color:#c4d7e0;
    border-radius:2px;
    text-transform:uppercase;
    font-size:18px;
}

ul{
    list-style: none;
}

.products_name{
    margin-top:1.5em;
}

html,
body {
    margin: 0;
    padding: 0;
}

button {
    margin: 0;
    padding: 0;
    border: 0;
    background: none;
    font-size: 100%;
    vertical-align: baseline;
    font-family: inherit;
    font-weight: inherit;
    color: inherit;
    -webkit-appearance: none;
    appearance: none;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    font-smoothing: antialiased;
}

body {
    font: 14px 'Helvetica Neue', Helvetica, Arial, sans-serif;
    line-height: 1.4em;
    background: #f5f5f5;
    color: #4d4d4d;
    min-width: 230px;
    max-width: 90%;
    margin: 0 auto;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    font-smoothing: antialiased;
    font-weight: 300;
}

button,
input[type="checkbox"] {
    outline: none;
}

.hidden {
    display: none;
}

.product-management {
    position: relative;
    text-align:left;
}
.container{
    background: #fff;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2),
    0 25px 50px 0 rgba(0, 0, 0, 0.1);
    padding-bottom:30px;
}

.product-management input::-webkit-input-placeholder {
    font-style: italic;
    font-weight: 300;
    color: #4d4d4d;
    font-size:14px;
}

.product-management input::-moz-placeholder {
    font-style: italic;
    font-weight: 300;
    color: #4d4d4d;
    font-size:14px;
}

.product-management input::input-placeholder {
    font-style: italic;
    font-weight: 300;
    color: #4d4d4d;
    font-size:14px;
}

.new-product{
    position: relative;
    margin: 0;
    width: 100%;
    font-family: inherit;
    font-weight: inherit;
    line-height: 1.4em;
    border: 0;
    outline: none;
    color: inherit;
    padding: 6px;
    border: 1px solid #999;
    box-shadow: inset 0 -1px 5px 0 rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    font-smoothing: antialiased;
}

.new-product {
    padding: 16px 16px 16px 60px;
    border: none;
    background: rgba(0, 0, 0, 0.003);
    box-shadow: inset 0 -2px 1px rgba(0,0,0,0.03);
    font-size:16px;
    font-style:italic;
}

.main {
    position: relative;
    z-index: 2;
    border-top: 1px solid #e6e6e6;
}

label[for='toggle-all'] {
    display: none;
}

.toggle-all {
    position: absolute;
    top: -50px;
    left: -12px;
    width: 60px;
    height: 34px;
    text-align: center;
    border: none; /* Mobile Safari */
}

.toggle-all:before {
    content: "â¯";
    font-size: 22px;
    color: #e6e6e6;
    padding: 10px 27px 10px 27px;
}

.toggle-all:checked:before {
    color: green;
}

.product-list {
    margin: 0;
    padding: 0;
    list-style: none;
}

.product-list li,
.metatag-list li{
    position: relative;
    font-size: 16px;
    border-bottom: 1px solid #ededed;
    padding-bottom:0.7em;
}

.product-list > li:last-child {
    border-bottom: none;
}

.product-list li.editing {
    border-bottom: none;
    padding: 0;
}

.product-list li.editing .edit {
    display: block;
    width: 506px;
    padding: 13px 17px 12px 17px;
    margin: 0 0 0 43px;
}

.product-list li.editing .view {
    display: none;
}

.product-list li .toggle {
    text-align: center;
    width: 40px;
    /* auto, since non-WebKit browsers doesn't support input styling */
    height: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: 5px 0 auto 0;
    border: none; /* Mobile Safari */
    -webkit-appearance: none;
    appearance: none;
}

.product-list li .toggle:after {
    content: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="-10 -18 100 135"><circle cx="50" cy="50" r="50" fill="none" stroke="#ededed" stroke-width="3"/></svg>');
}

.product-list li .toggle:checked:after {
    content: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="-10 -18 100 135"><circle cx="50" cy="50" r="50" fill="none" stroke="#bddad5" stroke-width="3"/><path fill="#5dc2af" d="M72 25L42 71 27 56l-4 4 20 20 34-52z"/></svg>');
}

.product-list li label {
    white-space: pre;
    padding: 10px 60px 0 15px;
    margin-left: 45px;
    display: block;
    line-height: 1.2;
    transition: color 0.4s;
    font-weight:300;
}
.indent{
    margin-left: 60px;
}

.product-list li.active label {
    color: green;
    font-weight:400;
}

.product-list li .destroy {
    display: none;
    position: absolute;
    top: 5px;
    right: 10px;
    bottom: 0;
    margin: 0;
    color: #cc9a9a;
    margin-bottom: 11px;
    transition: color 0.2s ease-out;
}

.product-list li .destroy:hover {
    color: #af5b5e;
}

.product-list li:hover .destroy {
    display: block;
}

.product-list li .edit {
    display: none;
}

.product-list li.editing:last-child {
    margin-bottom: -1px;
}

.clear-completed,
html .clear-completed:active {
    float: right;
    position: relative;
    line-height: 20px;
    text-decoration: none;
    cursor: pointer;
    position: relative;
}

.clear-completed:hover {
    text-decoration: underline;
}

.info {
    margin: 65px auto 0;
    color: #bfbfbf;
    font-size: 10px;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    text-align: center;
}

.info p {
    line-height: 1;
}

.info a {
    color: inherit;
    text-decoration: none;
    font-weight: 400;
}

.info a:hover {
    text-decoration: underline;
}
input[type=file]:focus, input[type=checkbox]:focus, input[type=radio]:focus{
    outline: none;
}

.margin-bottom{
    margin-bottom:1em;
}

/*
	Hack to remove background from Mobile Safari.
	Can't use it globally since it destroys checkboxes in Firefox
*/

.headline{
    background-color:transparent;
    width:100%;
    text-align: center;
    font-style: italic;
}

i:hover, i:focus{
    color:green;
}

textarea
{
    display: inline-block;
    width: 100%;
    height: 100%;
    vertical-align: top;
    box-sizing: border-box;

    border: none;
    resize: none;
    outline: none;
    background-color: #f6f6f6;
    font-size: 14px;
    padding: 1em;
}

.alert{
    margin-bottom:5px;
}
.container.messages{
    padding-bottom:5px;
    padding-top:5px;
}
.menu-icon{
    position:relative;
    top:-10px;
}
.align-right{
    text-align:right;
}
.container.settings{
    padding-bottom:0;
}
.settings .list-group{
    margin-bottom:0;
}
.small,
.product-list li.small
{
    font-size:0.9em;
}

section.settings{
    display:inline;
}
.settings.seperator{
    display:inline-block;
    padding-left:15px;
    margin-right:15px;
    font-size: 2em;
    color: #dddddd;
}
.settings .icon_label{
    font-size:0.7em;
    margin-right:10px;
}
.customized_name_icon{
    font-size:20px;
}
.customized_name{
    font-style:italic;
    border-top:1px dotted #ccc;
    margin:0.5em 0 0.7em;
    padding-top:0.5em;

}
.dropdown-menu li.highlight{
    background-color:#5597b4;
    color:#ffffff;
}
#app li.highlight a{
    color:#ffffff;
}
.alias{
    margin-left:1em;
    color:#888;
    font-size:0.8em;
}
.alias i{
    margin-right:0.5em;
}
.full-width{
    width:100%;
}
.edit_tags{
    margin-right:1em;
}
.close-edit-metatags{
    margin-top:-10px;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
    .toggle-all,
    .product-list li .toggle {
        background: none;
    }

    .product-list li .toggle {
        height: 40px;
    }

    .toggle-all {
        -webkit-transform: rotate(90deg);
        transform: rotate(90deg);
        -webkit-appearance: none;
        appearance: none;
    }
}
