<div id="app">
    <div class="app-nav">
        <nav v-bind:class="breadcrumb" v-on:click.prevent>
            <a href="#" class="name" v-on:click="makeActive('names')">Product Names</a>
            <a href="#" class="description" v-on:click="makeActive('description')">Product Descriptions</a>
            <a href="#" class="preview" v-on:click="makeActive('preview')">Preview</a>
            <a href="#" class="export" v-on:click="makeActive('export')">Export</a>
        </nav>
    </div>

    <div class="container">
        <h3 class="headline">[[headline]]</h3>
        <!-- Add Products -->
        <div v-bind:class="{ 'col-xs-12 col-sm-12 col-md-12': isFullScreen, 'col-xs-12 col-sm-6 col-md-6':isSmallScreen }">
            <section class="product-management load_products" v-on:click.stop v-show="show_load">
                <header class="header">
                    <input class="new-product"
                           autofocus autocomplete="off"
                           placeholder="Enter products model code"
                           v-model="newProduct"
                           @keyup.enter="addProduct">
                </header>
                <section class="main" v-show="products.length" v-cloak>
                    <input class="toggle-all" type="checkbox" v-model="allActive">
                    <ul class="product-list">
                        <li v-for="product in products"
                            class="product"
                            :key="product.id"
                            :class="{ active: product.active }">
                            <div class="view">
                                <input class="toggle" type="checkbox" v-model="product.active">
                                <button class="destroy" @click="removeProduct(product)"></button>
                                <label>[[product.modelCode]]</label>
                                <small v-if="show_names" class="indent">
                                    <span v-if="product.category" class="product_category">[[product.category.label]]</span>
                                    <span v-if="product.attribute1" class="product_attrbute1"> [[conjunction_1]] [[product.attribute1.label]]</span>
                                    <span v-if="product.attribute2" class="product_attrbute2"> [[conjunction_2]] [[product.attribute2.label]]</span>
                                </small>
                                <div class="product_preview" v-on:click.stop v-if="show_preview">
                                    <div class="indent">
                                        <h5 class="product_name inline">Product Names:</h5>
                                        <ul>
                                            <li class="de">
                                                <span v-if="product.category" class="product_category">[[product.category.label]]</span>
                                                <span v-if="product.attribute1" class="product_attrbute1"> [[conjunction_1]] [[product.attribute1.label]]</span>
                                                <span v-if="product.attribute2" class="product_attrbute2"> [[conjunction_2]] [[product.attribute2.label]]</span>
                                            </li>
                                        </ul>
                                    </div>
                                    <div v-if="product.descriptions" class="indent description">
                                        <h5>Descriptions:</h5>
                                        <ul>
                                            <li class="en">
                                                <span v-for="description in product.descriptions.en">[[description]]</span>
                                            </li>
                                            <li class="de">
                                                <span v-for="description in product.descriptions.de">[[description]]</span>
                                            </li>
                                        </ul>

                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </section>
            </section>
        </div>
        <!-- Add Products end -->
        <!-- Add Product Names -->
        <div class="products_name row col-xs-12 col-sm-6 col-md-6" v-on:click.stop v-show="show_names">
            <div class="margin-bottom">
                <v-select :value.sync="selected_category" placeholder="Select a Category" :options="category_options"></v-select>
            </div>
            <div class="margin-bottom">
                <v-select :value.sync="selected_attribute_1" placeholder="Select an attribute" :options="attribute_options_1"></v-select>
            </div>
            <div class="margin-bottom">
                <v-select :value.sync="selected_attribute_2" placeholder="Select an other attribute" :options="attribute_options_2"></v-select>
            </div>
            <div class="row">
                <div class="actions">
                    <button type="button" class="btn btn-success save_name"

                            @click="saveNameScheme()">Save Names</button>
                </div>
            </div>
        </div>
        <!-- End Product Names  -->
        <div class="products_description row col-xs-12 col-sm-6 col-md-6" v-on:click.stop v-show="show_descriptions">
            <h5>Form for configuring Products Descriptions</h5>
        </div>
        <div class="products_export row col-xs-12 col-sm-6 col-md-6" v-on:click.stop v-show="show_export">
            <h5>Export to Shop</h5>
        </div>
    </div>
</div>